<div class="col s3">
  <div class="card" [ngClass]="{ checked: isChecked }">
    <div class="card-image">
      <img src="{{ user.image }}" />
      <span class="card-title">{{ user.name }}</span>
    </div>
    <div class="card-content">
      <p>
        {{ user.geo }}
      </p>
    </div>
    <div class="card-action">
      <a
        class="waves-effect waves-light btn"
        (click)="onClick()"
        [ngClass]="{ red: isChecked }"
        >{{ checkButtonValue }}</a
      >
    </div>
  </div>
</div>
